h1 {
    text-align: center;
    color: #EEEEEE;
}

#resultado {
    background-color: #00ADB5;
    display: none;
    text-align: center;
}

body, .footer {
    background-color: #222831;
}

#texto {
    color: #EEEEEE;
}

.informacion, .footer {
    color: #EEEEEE;
}

.poster {
    height: 35em;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
}


.digimonModalImg{
    margin: 0 auto;
    display: block;
}


.tabla{
    color: #222831;
}

.imgdigi{
    height: 35px;
}

.logo{
    width: 80px;
}

.parrafo{
    text-align: justify;
}

